*{
    box-sizing: border-box;
  }
.html{
    padding-top: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(https://i.ytimg.com/vi/jjloL1COohY/maxresdefault.jpg) ;
    background-repeat:repeat-y;
    background-size: 100% 100%;
    padding-left: 80px;
    padding-right: 80px;
}



/* Header */



.header{
    display: block;
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.flex-item{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}



/* Container */



.container1{
    padding-top: 200px;
}
.flex-container1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;
    background-color: darkolivegreen;
    border: solid 5px darksalmon;
    height: 900px;
    margin-bottom: 200px;
}
.flex-item1{
    margin-right: 10px;
    margin-left: 10px;
}
.flex-container2{
    display: flex;
    width: 149%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}



/* Table */



.ul{
    padding-left: 0;
    list-style-type: none;
}
.js-li{
    margin-bottom: 0;
    margin-right: 50px;
    margin-left: 50px;
}
.js-li1{
    margin-bottom: 0;
    margin-right: 50px;
    margin-left: 50px;
}
.js-li2{
    margin-bottom: 0;
    margin-right: 50px;
    margin-left: 50px;
}
.js-li3{
    margin-bottom: 0;
    margin-right: 50px;
    margin-left: 50px;
}

.js-li4{
    margin-bottom: 0;
    margin-right: 50px;
    margin-left: 50px;
}

.js-li5{
    margin-bottom: 0;
    margin-right: 50px;
    margin-left: 50px;
}

.flex-container3,.flex-container4,.flex-container5,.flex-container6,.flex-container7,.flex-container8{
    display: flex;
    flex-direction: column;
    
}
.flex-container3{
    display: flex;
    align-self: flex-start;
}
.flex-container3,.flex-container4,.flex-container5{
margin: 0;
}
.flex-container6,.flex-container7,.flex-container8{

 margin: 0;
}
.hero{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.section{
    position: relative;
    display: none;
    align-self: center;
}
.section1{
    position: relative;
    display: none;
}
.section2{
    position: relative;
    display: none;
}
.section3{
    position: relative;
    display: none;
}
.section4{
    position: relative;
    display: none;
}
.section5{
    position: relative;
    display: none;
}
.container2,.container3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.flex-container9{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    width: 160%;
    align-content: center;
    flex-direction: column;
}


/* Buttons */


.th{
    border: 5px solid darksalmon; 
    padding: 20px 20px 20px 20px;
}
.th:hover{
 cursor: pointer;
 color: whitesmoke;
 background-color: darksalmon;
}
.button1:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.button2:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.button3:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.button4:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.button5:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.button6:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.button1,.button2,.button3,.button4,.button5,.button6{
    font-size: 25px;
    padding: 0;
    width: 361px;
    margin: 20px 20px 20px 20px;
    height: 100px;
}
.button7{
    font-size: larger;
    padding: 5px 15px 5px 15px;
    margin-bottom: 20px;
    display: none;
    margin-left: 210px;
}
.button7:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.button8{
    font-size: larger;
    padding: 5px 15px 5px 15px;
    margin-bottom: 20px;
    display: none;
    margin-left: 210px;
}
.button8:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.button9{
    font-size: larger;
    padding: 5px 15px 5px 15px;
    margin-bottom: 20px;
    display: none;
    margin-left: 210px;
}
.button9:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.button10{
    font-size: larger;
    padding: 5px 15px 5px 15px;
    margin-bottom: 20px;
    display: none;
    margin-left: 210px;
}
.button10:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.button11{
    font-size: larger;
    padding: 5px 15px 5px 15px;
    margin-bottom: 20px;
    display: none;
    margin-left: 210px;
}
.button11:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.button12{
    font-size: larger;
    padding: 5px 15px 5px 15px;
    margin-bottom: 20px;
    display: none;
    margin-left: 210px;
}
.button12:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
.table{
    border: 5px solid darksalmon; 
    margin: 20px 20px 20px 20px; 
    border-spacing: 0;
}
.button13{
    font-size: larger;
    padding: 5px 15px 5px 15px;
    margin-bottom: 20px;
     margin-left: -266px;
    position: absolute;
    align-self: center;
    background-color:darkkhaki;
    font-size: 30px;
    margin-top: 50px;
    width: 400px;
}
.button13:hover{
    cursor: pointer;
    transition-delay: 0,2s;
    color: whitesmoke;
    opacity: 2;
    background-color: darksalmon;
}
